@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  max-width: 99vw;
  overflow: auto;
  font-family: "Lato", sans-serif;
  margin: 3px;
  letter-spacing: 0.25px;
  word-spacing: 2.5px;
  line-height: 1.5rem;
}

button {
  outline: none;
  width: 150px;
  border-radius: 30px;
  padding: 8px 15px;
  margin: 0;
  margin-right: 10px;
  white-space: nowrap;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Lato", sans-serif;

  background-color: #f6c95f !important;
  border: 1px solid#f6c95f !important;
  color: #9e2531 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15) !important;
}

.primarybtn {
  margin-left: 40px;
}

.j4container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  min-height: 85vh;
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
  margin-top: 30px;
}

.type-label {
  color: #865d06;
  margin: 0;
  width: 100%;
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
}

.items-text {
  font-size: 18px;
}

.jrow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.jewel-container {
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  margin-left: 0;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  transition: transform 0.5s, box-shadow 1s;
  cursor: pointer;
}

.jewel-container:hover {
  transform: scale(1.025) translate(0, -3px) perspective(0px);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.jewelimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.selectarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  background-image: linear-gradient(to bottom, white, #f6c95f);
  border-radius: 10px;
  width: 100%;
  height: 45%;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 10px;
  padding-top: 30px;
}

.jewelinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}

.jewelname {
  color: #333;
  font-size: 18px;
  text-align: center;
}

.pricelabel {
  color: #9e2531;
  font-size: 18px;
}

.aricon {
  width: 25px;
  height: 25px;
}

.addcartbtn {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0;
  padding: 4px 8px;
  width: fit-content;
  height: fit-content;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f6cd6e !important;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15) !important;
}

.addbag {
  width: 90%;
  height: 90%;
}

.selectbtn {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white !important;
}

.selectbtn p {
  margin: 0;
  color: black;
}

.same-openbox {
  text-align: center;
  display: none;
  margin-top: 30px;
}

.choosetext {
  color: #000;
  font-size: 20px;
  margin: 15px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#updatenote {
  color: #000;
  font-size: 30px;
  margin: 3px;
  font-weight: bold;
}

.sitename {
  color: #333;
  background-color: #f6c95f;
  padding: 12px 25px;
  border-radius: 0 0 10px 10px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: -3px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 20;
  gap: 10px;
  margin: 10px auto;
}

.ar-toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 20;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px auto;
}

.testing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px auto;
}

.modebutton {
  display: none;
}

#controlType {
  font-weight: bold;
}

.control-panel {
  display: none;
}

.viewer-container {
  position: relative;
  width: 1280px;
  height: 720px;
  margin: 0 auto;
  padding: 0;
  /* border: 3px solid #f6c95f; */
  border-radius: 5px;
}

#error {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #fff;
  padding: 8px;
  white-space: pre;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

#info {
  font-size: 12px;
  bottom: 4px;
  left: 8px;
  position: absolute;
}

#fpsdisplay {
  display: inline-block;
}

#Loading {
  position: absolute;
  top: 4px;
  left: 8px;
  color: #000;
  width: 100%;
  text-align: center;
  padding: 2rem;
  padding-top: 60px;
}

#Loading h4 {
  margin: 0px;
}

#texturergbprogress,
#texturefeaturesprogress {
  margin: 0;
  margin-top: 5px;
}

#loading-container {
  /* width: 150px;
  height: 150px; */
  padding: 0px;
  /* margin: -40px 0 0 -40px; */
  position: absolute;
  top: 40%;
  left: 42.5%;
}

@media (max-width: 768px) {
  #loading-container {
    top: 40%;
    left: 30%;
  }
}

.loading-bgbox {
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: #ddd;
  width: 65px;
  height: 65px;
}

.loadimg {
  width: 400px;
  height: auto;
}

#topleft {
  top: 5px;
  left: 5px;
}

#bottomleft {
  bottom: 5px;
  left: 5px;
}

#topright {
  top: 5px;
  right: 5px;
}

#bottomright {
  bottom: 5px;
  right: 5px;
}

#loading-indicator {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 65px;
  height: 65px;
  background-color: #999;
  animation-name: indicator;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes indicator {
  0% {
    top: 5px;
    left: 5px;
  }
  25% {
    top: 5px;
    left: 80px;
  }
  50% {
    top: 80px;
    left: 80px;
  }
  75% {
    top: 80px;
    left: 5px;
  }
}

#viewspacecontainer {
  position: absolute;
  top: 0;
  /* left: 0; */
  text-align: left;
  z-index: 10;
  display: none;
}

#usermanual {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 30;
  padding: 25px;
  gap: 20px;
  background-color: #730b16;
  color: #f6c95f;
  font-weight: 500;
  border: 2px solid #f6c95f;
  border-radius: 5px;
  display: none;
}

.allsteps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #f6c95f;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.stepimg {
  height: 50vh;
  width: auto;
}

.steptext {
  font-size: 18px;
  padding: 15px;
  height: 10vh;
}

#showhandscreen {
  position: absolute;
  top: 0;
  /* left: 0; */
  text-align: center;
  z-index: 20;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px 0;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  display: none;
}

.handimg {
  height: 70dvh;
}

/* The main RIV view */
.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  transform-origin: top left;
  background: transparent;
  margin: 0;
  overflow: hidden;
}

/***************************************************************************
***************************************************************************/

.output_canvas {
  position: absolute !important;
  top: 0;
  /* left: 0; */
  margin: 0 auto;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 #00000030;
  z-index: 10;
  display: none;
}

.input_video {
  display: none;
}

.ar-bottom-container {
  display: none;
}

.mobile-viewar {
  display: none;
}

@media (max-width: 768px) {
  button {
    margin: 0px;
  }

  .primarybtn {
    margin-top: 5px;
    margin-left: 10px;
  }

  .j4container {
    margin: 0 2%;
    margin-top: 10px;
  }

  .type-label {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .items-text {
    font-size: 16px;
  }

  .jewel-container {
    width: 45vw;
    height: 55vw;
    margin: 8px;
    margin-left: 0;
    padding: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .jewel-container:hover {
    transform: none;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  }

  .loadimg {
    width: 300px;
    height: auto;
  }

  .jewelimg {
    height: auto;
    top: 30px;
  }

  .selectarea {
    padding: 10px;
    padding-top: 20px;
    gap: 0px;
  }

  .jewelinfo {
    gap: 3px;
  }

  .jewelname,
  .pricelabel {
    font-size: 16px;
  }

  .selectbtn {
    width: 135px;
  }

  .addcartbtn {
    width: 40px;
    height: 40px;
    top: 3px;
  }

  #updatenote {
    font-size: 20px;
    margin: 0;
    margin-top: 3px;
  }

  .sitename {
    font-size: 18px;
    padding: 5px 15px;
  }

  .viewer-container {
    width: 99vw;
    height: 99dvh;
    max-width: 99vw;
    overflow: hidden;
  }

  #usermanual {
    gap: 15px;
    padding: 5px;
  }

  .allsteps {
    flex-direction: column;
    gap: 10px;
  }

  .step {
    flex-direction: row;
    padding: 10px;
  }

  .stepimg {
    width: 40%;
    height: auto;
  }

  .steptext {
    width: 60%;
    height: auto;
    padding: 0px;
    margin-left: 15px;
  }

  #showhandscreen h2 {
    text-align: center;
    font-size: 18px;
  }

  .handimg {
    height: 65dvh;
    margin-right: 15px;
  }

  .switchbtn {
    margin: 20px;
    border-radius: 50%;
    width: fit-content;
    width: 60px;
    height: 60px;
    padding: 12px;
    position: absolute;
    bottom: 30px;
    right: 0;
  }

  .switchimg {
    width: 100%;
    height: 100%;
  }

  .desktop-viewar {
    display: none;
  }

  .ar-bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 20;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 50px auto;
  }

  input {
    width: 50px;
  }
}
