@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

body {
  max-width: 100vw;
  max-height: 100dvh;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  margin: 3px;
}

button {
  outline: none;
  width: 150px;
  border-radius: 30px;
  padding: 8px 15px;
  margin: 0;
  margin-right: 10px;
  white-space: nowrap;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Lato", sans-serif;

  background-color: #ffe161 !important;
  border: 1px solid#ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.primarybtn {
  margin-left: 40px;
}

.j4container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: 90vh;
  margin: 0 auto;
  padding: 0;
  /* border: 3px solid #ffe161; */
  border-radius: 10px;
}

.type-label {
  color: #614f00;
  margin: 0;
  width: 100%;
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
}

.jrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.jewel-container {
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  margin-left: 0;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #aaa;
}

.jewelimg {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.selectarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  background-image: linear-gradient(to bottom, white, #ffe161);
  border-radius: 10px;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 10px;
  padding-top: 25px;
}

.jewelinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pricelabel {
  color: rgb(255, 98, 0);
}

.aricon {
  width: 25px;
  height: 25px;
}

.addcartbtn {
  margin: 0;
  padding: 4px 8px;
  width: fit-content;
  height: fit-content;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white !important;
}

.addbag {
  width: 90%;
  height: 90%;
}

.selectbtn {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white !important;
}

.selectbtn p {
  margin: 0;
  color: black;
}

.same-openbox {
  text-align: center;
  display: none;
}

.choosetext {
  color: #000;
  font-size: 20px;
  margin: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#updatenote {
  color: #000;
  font-size: 30px;
  margin: 3px;
  font-weight: bold;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 20;
  gap: 10px;
  margin: 10px auto;
}

.ar-toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 20;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px auto;
}

.testing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px auto;
}

.modebutton {
  display: none;
}

#controlType {
  font-weight: bold;
}

.control-panel {
  display: none;
}

.viewer-container {
  position: relative;
  width: 1280px;
  height: 720px;
  margin: 0 auto;
  padding: 0;
  /* border: 3px solid #ffe161; */
  /* border-radius: 5px; */
}

#error {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #fff;
  padding: 8px;
  white-space: pre;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

#info {
  font-size: 12px;
  bottom: 4px;
  left: 8px;
  position: absolute;
}

#fpsdisplay {
  display: inline-block;
}

#Loading {
  position: absolute;
  top: 4px;
  left: 8px;
  color: #000;
  width: 100%;
  text-align: center;
  padding: 2rem;
  padding-top: 60px;
}

#Loading h4 {
  margin: 0px;
}

#texturergbprogress,
#texturefeaturesprogress {
  margin: 0;
  margin-top: 5px;
}

#loading-container {
  width: 150px;
  height: 150px;
  padding: 0px;
  margin: -40px 0 0 -40px;
  position: absolute;
  top: 50%;
  left: 48%;
}

@media (max-width: 768px) {
  #loading-container {
    top: 40%;
    left: 40%;
  }
}

.loading-bgbox {
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: #ddd;
  width: 65px;
  height: 65px;
}

#topleft {
  top: 5px;
  left: 5px;
}

#bottomleft {
  bottom: 5px;
  left: 5px;
}

#topright {
  top: 5px;
  right: 5px;
}

#bottomright {
  bottom: 5px;
  right: 5px;
}

#loading-indicator {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 65px;
  height: 65px;
  background-color: #999;
  animation-name: indicator;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes indicator {
  0% {
    top: 5px;
    left: 5px;
  }
  25% {
    top: 5px;
    left: 80px;
  }
  50% {
    top: 80px;
    left: 80px;
  }
  75% {
    top: 80px;
    left: 5px;
  }
}

#viewspacecontainer {
  position: absolute;
  top: 0;
  /* left: 0; */
  text-align: left;
  z-index: 10;
  display: none;
}

#usermanual {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 50;
  padding: 10px;
  gap: 20px;
  background-color: #614f00;
  color: #ffe161;
  border: 2px solid #ffe161;
  border-radius: 5px;
  display: none;
}

.allsteps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ffe161;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.stepimg {
  height: 50vh;
  width: auto;
}

.steptext {
  font-size: 18px;
  padding: 10px;
}

#showhandscreen {
  position: absolute;
  top: 0;
  /* left: 0; */
  text-align: center;
  z-index: 20;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 30px 0;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  display: none;
}

.handimg {
  height: 70dvh;
}

/* The main RIV view */
.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  transform-origin: top left;
  background: transparent;
  margin: 0;
  overflow: hidden;
}

/***************************************************************************
***************************************************************************/

.output_canvas {
  position: absolute !important;
  top: 0;
  /* left: 0; */
  margin: 0 auto;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
  z-index: 10;
  display: none;
}

.input_video {
  display: none;
}

.ar-bottom-container {
  display: none;
}

.mobile-viewar {
  display: none;
}

@media (max-width: 768px) {
  button {
    margin: 0px;
  }

  .primarybtn {
    margin-top: 5px;
    margin-left: 10px;
  }

  .type-label {
    font-size: 16px;
  }

  .jewel-container {
    width: 45vw;
    height: 65vw;
    margin: 5px;
    padding: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }

  .jewelimg {
    height: auto;
    top: 45px;
  }

  .selectarea {
    padding: 10px;
    gap: 5px;
  }

  .jewelinfo {
    flex-direction: column;
    gap: 5px;
  }

  .selectbtn {
    width: 135px;
  }

  .addcartbtn {
    display: none;
  }

  .addcart-mobilebtn {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    padding: 4px 8px;
    width: fit-content;
    height: fit-content;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f5de7b !important;
    z-index: 1;
  }

  #updatenote {
    font-size: 20px;
    margin: 0;
    margin-top: 3px;
  }

  .viewer-container {
    width: 99vw;
    height: 97dvh;
    max-width: 99vw;
    overflow: hidden;
  }

  #usermanual {
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 5px;
  }

  .allsteps {
    flex-direction: column;
    gap: 10px;
  }

  .step {
    flex-direction: row;
  }

  .stepimg {
    width: 40%;
    height: auto;
  }

  #showhandscreen {
    padding: 15px 0;
  }

  #showhandscreen h2 {
    text-align: center;
    font-size: 18px;
  }

  .handimg {
    height: 65dvh;
    margin-right: 15px;
  }

  .switchbtn {
    margin: 15px;
    margin-left: auto;
    margin-right: 25px;
    border-radius: 50%;
    width: fit-content;
  }

  .switchimg {
    width: 30px;
    height: 30px;
  }

  .desktop-viewar {
    display: none;
  }

  .ar-bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 20;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 50px auto;
  }

  input {
    width: 50px;
  }
}
