@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");
/* illustrations color: #fbb746 */

* {
  box-sizing: border-box;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

:root {
  --fontSize: 18px;
  --transition: 0.5s;
  --mainColor: #420ed3;
  --primaryColor: #420ed3;
  --secondaryColor: #08f8d0;
  --whiteColor: #fff;
  --blackColor: #444;
  --pinkColor: #e52267;
  --orangeColor: #e85b30;
  --gradientColor: linear-gradient(44.44deg, #ed2775 7.79%, #ff7448 94.18%);
  --gradientReverse: linear-gradient(44.44deg, #ff7448 7.79%, #ed2775 94.18%);
  --gradientLogo: linear-gradient(44.44deg, #e85b30 60.79%, #f9ac06 80.18%);
  --gradientBackground: linear-gradient(
    45deg,
    #d12f85 -1.19%,
    #8711e2 50.96%,
    #441bc1 99.95%
  );

  --paragraphColor: #716c80;
  --fontFamily: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-size: var(--fontSize);
  background: var(--gradientColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  max-width: 100vw;
  overflow: auto;
  font-family: var(--fontFamily);
  margin: 0;
  padding: 0;
  color: var(--blackColor);
  font-size: var(--fontSize);
  letter-spacing: 0.25px;
  word-spacing: 5px;
  line-height: 1.75rem;
}

button {
  outline: none;
  min-width: 150px;
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  margin: 0;
  margin-right: 10px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  font-family: var(--fontFamily);
  color: var(--whiteColor);
  background: var(--gradientColor);
  box-shadow: 0px 12px 36px rgba(0, 0, 0, 0.15);
  font-weight: 600;
  letter-spacing: 1.5px;
  /* word-spacing: 5px; */
}

button:hover {
  background: var(--pinkColor);
}

.primarybtn {
  margin-left: 40px;
}

.centerbtn {
  margin-left: 0px;
}

#copybtn {
  padding: 8px;
}

.disabledbtn {
  opacity: 0.5;
  cursor: wait;
}

.text-color {
  background: var(--paragraphColor);
  -webkit-background-clip: none;
  -webkit-text-fill-color: none;
  color: var(--paragraphColor);
}

.j4container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  min-height: 75vh;
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
  margin-top: 15px;
}

.type-label {
  background: var(--gradientColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  width: 100%;
  text-align: left;
  margin-top: 5px;
}

.items-text {
  font-size: 18px;
}

.jrow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.jewel-container {
  width: 250px;
  height: 250px;
  position: relative;
  padding: 10px;
  margin: 0;
  margin-top: 15px;
  margin-right: 20px;
  padding: 20px 15px 18px 55px;
  margin-bottom: 25px;
  background-color: transparent;
  transition: transform 0.5s, box-shadow 0.5s;
  cursor: pointer;
}

.home-jewel {
  border: 1px solid #eee;
}

.home-jewel:hover {
  /* transform: scale(1.025) translate(0, -3px) perspective(0px); */
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
}

.home-jewel:hover button {
  background: var(--pinkColor);
}

.jewel-container:active {
  box-shadow: none;
}

.jewelimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.selectarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  /* background-image: linear-gradient(to bottom, white, #f6deae); */
  border-radius: 10px;
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 10px;
  padding-top: 30px;
}

.jewelinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}

.jewelname {
  color: #333;
  font-size: 18px;
  text-align: center;
}

.pricelabel {
  color: #eb960e;
  font-size: 18px;
}

.aricon {
  width: 25px;
  height: 25px;
}

.addcartbtn {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0;
  padding: 4px 8px;
  width: fit-content;
  height: fit-content;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f6deae !important;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15) !important;
}

.addbag {
  width: 90%;
  height: 90%;
}

.selectbtn {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white !important;
}

.selectbtn p {
  margin: 0;
  color: black;
}

.same-openbox {
  text-align: center;
  display: none;
  margin-top: 30px;
}

.error-msg {
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin: 5px;
}

.color-msg {
  background: var(--gradientColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#updatenote {
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  margin: -3px auto;
  cursor: pointer;
}

.logoimg {
  width: 200px;
  height: auto;
}

.sitename {
  background: var(--gradientLogo);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 12px 24px;
  border-radius: 0 0 10px 10px;
  font-size: 24px;
  font-weight: bold;
}

.tryon-title {
  display: none;
}

.ar-toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 20;
  gap: 10px;
  position: absolute;
  top: 20px;
  left: 0;
  margin: 15px auto;
  /* display: none; */
}

.testing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px auto;
}

.modebutton {
  display: none;
}

#controlType {
  font-weight: bold;
}

.control-panel {
  display: none;
}

.viewer-container,
#viewspacecontainer {
  position: relative;
  /* width: 1280px; */
  /* height: 720px; */
  width: 100vw;
  height: 100dvh;
  max-width: 100vw;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  /* border-radius: 5px; */
}

#error {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #fff;
  padding: 8px;
  white-space: pre;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

#info {
  font-size: 12px;
  bottom: 4px;
  left: 8px;
  position: absolute;
}

#fpsdisplay {
  display: inline-block;
}

#Loading {
  position: absolute;
  top: 4px;
  left: 8px;
  color: #000;
  width: 100%;
  text-align: center;
  padding: 2rem;
  padding-top: 60px;
}

#Loading h4 {
  margin: 0px;
}

#texturergbprogress,
#texturefeaturesprogress {
  margin: 0;
  margin-top: 5px;
}

#loading-container {
  /* width: 150px;
  height: 150px; */
  padding: 0px;
  /* margin: -40px 0 0 -40px; */
  position: absolute;
  top: 40%;
  left: 42.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  #loading-container {
    top: 35%;
    left: 25%;
  }
}

.loading-bgbox {
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: #ddd;
  width: 65px;
  height: 65px;
}

.loadimg {
  width: 400px;
  height: auto;
}

.progresstext {
  background: var(--gradientColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

#topleft {
  top: 5px;
  left: 5px;
}

#bottomleft {
  bottom: 5px;
  left: 5px;
}

#topright {
  top: 5px;
  right: 5px;
}

#bottomright {
  bottom: 5px;
  right: 5px;
}

#loading-indicator {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 65px;
  height: 65px;
  background-color: #999;
  animation-name: indicator;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes indicator {
  0% {
    top: 5px;
    left: 5px;
  }
  25% {
    top: 5px;
    left: 80px;
  }
  50% {
    top: 80px;
    left: 80px;
  }
  75% {
    top: 80px;
    left: 5px;
  }
}

#funorfact {
  margin: 0;
  margin-top: 20px;
  font-weight: 500;
}

#viewspacecontainer {
  position: absolute;
  top: 0;
  /* left: 0; */
  text-align: left;
  z-index: 10;
  background: #000;
  /* display: none; */
}

#usermanual,
#retrycamscreen,
.side-errors {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 30;
  padding: 25px;
  padding-bottom: 100px;
  gap: 20px;
  background-color: #eee;
  /* color: #eb960e !important; */
  font-weight: 500;
  border: 2px solid #eee;
  display: none;
  width: 100%;
  height: 100%;
}

.side-errors {
  flex-direction: row;
  top: 100px;
  left: 8%;
  border: none;
  padding: 0;
  background-color: #fff;
  padding: 0;
  padding-top: 20px;
  gap: 0;
  width: 85%;
  height: 100%;
}

.error-box {
  width: 100%;
  height: 100%;
  padding: 30px;
  padding-top: 0;
}

.seperation {
  /* border-right: 2px solid var(--pinkColor); */
  width: 200%;
}

.allsteps {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.errorsteps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.step {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #eee;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.errorstep {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepimg {
  width: 100%;
  height: 100%;
}

.errorimg {
  margin: 20px 0;
  width: 25vw;
  height: auto;
}

.opengl-image {
  width: 40vw;
}

.flag-instruction {
  font-size: 18px;
  margin: 20px 0;
  color: #333;
}

.highlight {
  background: var(--gradientColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  display: none;
}

.qr-code-container .qr-code {
  display: flex;
  border-radius: 1rem;
  background: linear-gradient(90deg, #d77da1 7.79%, #de8f77 94.18%);
  width: fit-content;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.trytitle {
  font-size: 20px;
}

.steptext {
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  margin: 0;
}

#showhandscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 20;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  padding-right: 1px;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  display: none;
}

.camerasection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 80%;
  height: 100%;
}

.rowar {
  display: block;
  width: 15%;
  min-width: 275px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: auto;
  display: block;
}

.rowar::-webkit-scrollbar {
  width: 1rem;
}

.rowar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.rowar::-webkit-scrollbar-thumb {
  background: #bbb;
  outline: 1px solid slategrey;
  border-radius: 20px;
}

#showhandscreen p {
  font-weight: 500;
  font-size: 20px;
}

.ar-jewel {
  margin: 0;
  transition: 0.15s;
  width: 100%;
}

.active-ar-jewel,
.ar-jewel:hover {
  border: 3px solid var(--pinkColor);
}

.active-ar-jewel button,
.ar-jewel:hover button {
  background: var(--pinkColor);
}

.handimg {
  height: 70dvh;
}

/* The main RIV view */
.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  transform-origin: top left;
  background: transparent;
  margin: 0;
  overflow: hidden;
}

/***************************************************************************
***************************************************************************/

.output_canvas {
  position: absolute !important;
  /* top: 0; */
  /* left: 0; */
  margin: 0 auto;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  z-index: 10;
  display: none;
}

.input_video {
  display: none;
}

.ar-bottom-container {
  /* display: none; */
}

.mobile-viewar {
  display: none;
}

@media (max-width: 768px) {
  body {
    margin: 3px;
  }

  p {
    font-size: 14px;
    line-height: 1.5rem;
    word-spacing: 3px;
  }

  button {
    margin: 0px;
    padding: 10px 18px;
    font-size: 14px;
  }

  .title-container {
    flex-direction: column;
  }

  .primarybtn {
    margin-top: 5px;
    margin-left: 10px;
  }

  .j4container {
    margin: 0 2%;
    margin-top: 10px;
  }

  .type-label {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .items-text {
    font-size: 16px;
  }

  .jewel-container {
    width: 45vw;
    height: 50vw;
    margin: 8px;
    margin-left: 0;
    padding: 5px;
    overflow: hidden;
  }

  .ar-jewel {
    background-color: #fff;
  }

  .loadimg {
    width: 300px;
    height: auto;
  }

  .jewelimg {
    height: auto;
    top: 15px;
  }

  .selectarea {
    height: 50%;
    padding: 10px;
    padding-top: 40px;
    gap: 0px;
  }

  .jewelinfo {
    gap: 3px;
  }

  .jewelname,
  .pricelabel {
    font-size: 16px;
  }

  .selectbtn {
    width: 135px;
  }

  .addcartbtn {
    width: 40px;
    height: 40px;
    top: 3px;
  }

  #updatenote {
    font-size: 20px;
    margin: 0;
    margin-top: 3px;
  }

  .sitename {
    font-size: 18px;
    padding: 5px 15px;
  }

  .viewer-container,
  #viewspacecontainer {
    width: 99vw;
    height: 99dvh;
    max-width: 99vw;
    overflow: hidden;
  }

  #usermanual,
  #retrycamscreen {
    padding: 5px;
    padding-bottom: 75px;
  }

  .allsteps {
    flex-direction: column;
    gap: 10px;
    height: 70%;
  }

  .step {
    flex-direction: row;
    padding: 10px;
    width: 100%;
    height: 33%;
  }

  .errorimg {
    width: 60%;
    min-width: 250px;
    height: auto;
  }

  .stepimg {
    height: 100%;
    width: auto;
  }

  .steptext {
    padding: 0px;
    margin-left: 15px;
    font-size: 16px;
    width: 100%;
  }

  .error-msg {
    font-size: 16px;
  }

  #showhandscreen {
    flex-direction: column;
  }

  .camerasection {
    width: 100%;
    height: 70%;
    gap: 5px;
  }

  .rowar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 60vw;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .rowar::-webkit-scrollbar-thumb {
    background: var(--pinkColor);
    outline: 1px solid slategrey;
    border-radius: 20px;
  }

  .ar-jewel {
    min-width: 45vw;
    min-height: 50vw;
  }

  .ar-jewel:hover {
    border: none;
  }

  .ar-jewel:hover button {
    background: none;
  }

  #showhandscreen p {
    text-align: center;
    font-size: 18px;
  }

  .handimg {
    height: 60%;
    margin-right: 15px;
  }

  .switchbtn {
    margin: 0 20px;
    border-radius: 50%;
    width: fit-content;
    min-width: 50px;
    width: 50px;
    height: 50px;
    margin-left: auto;
    padding: 10px;
  }

  .switchimg {
    width: 100%;
    height: 100%;
  }

  .desktop-viewar {
    display: none;
  }

  .ar-bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 20;
    position: absolute;
    bottom: 40px;
    left: 0;
    margin: 50px auto;
  }

  input {
    width: 50px;
  }
}

@media (max-width: 384px) {
  .j4container {
    margin: 1.5% 1.25%;
  }
}
