.title {
  position: absolute;
  top: 20px;
  margin: 0 auto;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-family: sans-serif;
}

.tryon-button{
  outline: none;
  min-width: 150px;
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  margin: 0;
  margin-right: 10px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  font-family: var(--fontFamily);
  color: var(--whiteColor);
  background: var(--gradientColor);
  box-shadow: 0px 12px 36px rgba(0, 0, 0, 0.1);
  font-weight: 400;
  letter-spacing: 1.5px;
  z-index : 10;
}

.tryon-button:hover {
  background: var(--pinkColor);
}
/* Regular styles for FPSStats */
.FPSStats {
  z-index: 999999;
  position: fixed;
  height: 46px;
  width: 76px; /* Adjust width as needed */
  padding: 3px;
  background-color: #000;
  color: #00ffff;
  font-size: 9px;
  line-height: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  pointer-events: none;
  left: 50%;
  top: 0; /* Position from top initially */
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .FPSStats {
    top: 0%; /* Move to the center vertically */
    bottom: auto;
    transform: translateX(-50%); 
  }
}


#gsplatCanvas {
  /* width: 100vw;
  height: 100vh; */
  /* width: 100%;
  height: 100%; */
  background: transparent !important;
  height: 100%;
  width: 100%;
  
}

#gsplatCanvas2 {
  /* width: 100vw;
  height: 100vh; */
  /* width: 100%;
  height: 100%; */
  background: transparent !important;
  height: 100%;
  width: 100%;
  
}

.audioImg{
  cursor: pointer !important;
  vertical-align: middle;
  filter: invert(0.4);
  /* margin: 5px; */
   margin-left: 3rem;
  /* padding: 1rem; */
   /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%); */
}
/* .gsplatSoundEffect{
  width: 100px;
} */
.backImg{
  /* padding: 1rem; */
  cursor: pointer !important;
  vertical-align: middle;
  filter: invert(0.4);
  margin: 5px;
  margin-left: 1rem;
   /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%); */
 
}



dialog {
  width: 100%;
  text-align: center;
  max-width: 20em;
  color: white;
  background-color: #000;
  border: none;
  position: relative;
  transform: translate(-50%, -50%);
}

#progress-container {
  position: absolute;
  top: 50%;
  left: 50%;
}
.gsplatButtonDiv{
  z-index: 50;
}
.audioElement{
  display: none;
}

progress {
  width: 100%;
  height: 1em;
  border: none;
  background-color: #fff;
  color: #eee;
}

progress::-webkit-progress-bar {
  background-color: #333;
}

progress::-webkit-progress-value {
  background-color: #eee;
}

progress::-moz-progress-bar {
  background-color: #eee;
}
